<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar align-title="center" class=" bar-positive"
        data-comp-id="header-bar.1">
        <h1 class="title" data-comp-id="text.1"
            style="font-weight: bold; font-style: italic;">Builds</h1>
    </ion-header-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1">
            <div class="item" data-comp-id="item.1" ng-click="app.logout()">
                <div data-comp-id="text.2">
                    Logout
                </div>
            </div>
        </ion-list>
        <div class=" card" data-comp-id="div.1" ng-repeat="item in data.buildsList">
            <div class="row" data-comp-id="row.1"
                style="background-color: rgb(218, 239, 239);">
                <div class="col" data-comp-id="column.1">
                    <div data-comp-id="text.3" ng-bind="item.name">name</div>
                </div>
                <div class="col" data-comp-id="column.2">
                    <div data-comp-id="text.4" ng-bind="item.description">Description</div>
                </div>
                <div class="col text-center col-20" data-comp-id="column.3"
                    ng-click="app.action('builds', 'buildsList[item].export', this)">
                    <i class="icon ion-android-download" data-comp-id="icon.1"
                        style="font-size: 45px;"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>