<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar align-title="center" class=" bar-positive"
        data-comp-id="header-bar.1">
        <h1 class="title" data-comp-id="text.1"
            style="font-weight: bold; font-style: italic;">Builds</h1>
    </ion-header-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1">
            <div class="item" data-comp-id="item.2" ng-click="app.logout()">
                <div data-comp-id="text.3">
                    Logout
                </div>
            </div>
        </ion-list>
        <div data-comp-id="div.1">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1"></div>
                <div class="col" data-comp-id="column.2"></div>
            </div>
        </div>
    </ion-content>
</ion-view>